DEBUG=1
DATABASE_URL=postgresql://postgres.pzspriuwguczbgoicpnk:your-password@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require
ALLOWED_HOSTS=127.0.0.1,localhost,your-railway-domain.up.railway.app
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://your-vercel-app.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://your-vercel-app.vercel.app
